body {
  background-color: #eaeaea;
  display: flex;
  font-family: Helvetica, sans-serif;
}

.page .button-blue {
  background-color: #0d74fe;
  color: #fsff;
  font-size: 1rem;
}

.page .logo {
  /* margin: 50px auto; */
  margin: 70px auto 100px auto;
}

.page .logo img {
  max-width: 600px;
  width: 100%;
}

.page .main .title {
  color: #0098e0;
  font-size: 2.5rem;
  font-weight: 700;
}

.page .main .subtitle {
  color: #5f5f5f;
  /* font-size: 1.25rem; */
  font-size: 1.1rem;
}

.page .main form {
  margin-top: 35px;
}

.page .main .description {
  color: #6c6969;
}

.page .main form .form-group label {
  display: block;
  font-weight: 700;
  margin-left: 10px;
  text-align: left;
}

.page .main form input {
  background-color: transparent;
  border: 1px solid #5f5f5f;
  border-radius: 7px;
  font-size: 12px;
  /* margin-bottom: 20px; */
  margin: 0 13px 20px 13px;
  padding: 5px;
  width: 100%;
}

.page .main form button {
  font-size: 14px;
  margin: 0 13px;
  padding: 0;
  width: 100%;
}

.page .link--blue {
  color: #0098e0;
  float: right;
  text-decoration: underline;
  font-weight: normal;
}

.page .description.color--blue {
  color: #0098e0;
  text-align: left;
  margin-top: 3rem;
}

.page .licensed {
  color: #6c6969;
  font-size: 12px;
  margin-top: 59%;
  line-height: initial;
}

.left-bg .logo {
  width: 150px;
  margin: 30px 0 0 15px;
}

.line--gray {
  height: 20px;
  display: block;
  background: url('../images/line--gray.jpg') top center no-repeat;
  background-size: contain;
}

.footer-links {
  color: #6c6969;
  text-align: center;
}

.footer-links a {
  color: #0098e0;
  text-decoration: underline;
}

.footer-links a.primary, .footer-links a.secondary {
  display: block;
  font-size: 1.2rem;
  font-weight: 700;
}

.footer-links a.primary {
  text-decoration: none;
}

.footer-links a.secondary {
  display: inline-block;
  font-size: 1rem;
}

.text--gray {
  color: #6c6969 !important;
  display: block;
}

/*
  Page 07
*/

.page-07 .main .title {
  color: #5f5f5f;
  font-size: 1.5rem;
}

.page-07 label .obs {
  color: #5f5f5f;
  ;
}

.page-07 .notes {
  color: #5f5f5f;
  text-align: left;
}

.page-07 .notes .title {
  display: block;
  font-size: 1.2rem;
  margin-top: 37px;
}

.page-07 .notes .bold-text {
  font-weight: 700;
}

/*
Page 08
*/

.page-08 .main .title {
  font-size: 1.5rem;
  margin-top: 40px;
}

.page-08 .main .subtitle {
  font-weight: 700;
  line-height: 28px;
}

/*
  Page 09
*/

.page-09 .main .title {
  color: #5f5f5f;
  font-size: 1.5rem;
}

.page-09 .form-check-input {
  margin-top: 20px;
  width: 3% !important;
}

.page-09 .form-check-label {
  color: #000;
  font-weight: normal !important;
  margin-left: 0 !important;
}

.page-09 .form-check-inline {
  margin-bottom: 15px;
  width: 100%;
}

.page-09 .form-check-inline a {
  color: #0098e0;
  text-decoration: underline;
}

/*
  Page 10
*/

.page-10 .main .title {
  font-size: 1.2rem;
  margin-top: 40px;
}

.page-10 .main .subtitle {
  font-weight: 700;
}

.page-10 .form-group button {
  margin-top: 150px;
}

/*
  Page Error
*/

.page-error .main .title {
  color: #5f5f5f;
  font-size: 1.2rem;
}

.page-error .main .description {
  color: #5f5f5f;
  text-align: left;
  margin-top: 5rem;
}

.page-error .main .description a {
  color: #0098e0;
  font-weight: 700;
  text-decoration: underline;
}

/*
  Mobile Screen
*/

@media screen and (max-width: 767px) {
  .left-bg {
    order: 2;
  }
  .right-bg {
    order: 1;
  }
  .page-01 .licensed {
    margin-bottom: 2rem !important;
  }
  .page .main form input, .page .main form button {
    margin: initial;
    margin: 5px auto;
    width: 80%;
  }
  .page .licensed {
    margin-bottom: 30px !important;
  }
}